<div class="AccountInformation__header">
        <h3>アカウント</h3>
      </div>

      <form action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="ZtsVGVWSv75DMTsuCoH3bJHyFLsLhjsfHKBTN1o14AnV4SeUHeVFYMhlGfRjf2xINEj9wkNo0EilNtNWWXb+wA==" />
        <div class="mb-4 AccountInformation__input-group">
          <label class="AccountInformation__label" for="user_email">メールアドレス</label>

          <div class="AccountInformation__input-wrapper">
            <input autocomplete="email" class="AccountInformation__input" placeholder="メールアドレスを入力してください" type="email" value="kensuke@10" name="user[email]" id="user_email" />
            
          </div>
        </div>

        <div class="mb-4 AccountInformation__input-group">
          <label class="AccountInformation__label" for="user_password">
            <span>変更後パスワード</span><br>
            <span class="AccountInformation__label--caption">※変更する場合のみ</span>
</label>
          <div class="AccountInformation__input-wrapper">
            <input class="AccountInformation__input" placeholder="変更後パスワードを入力" type="password" name="user[password]" id="user_password" />
            
          </div>
        </div>

        <div class="mb-4 AccountInformation__input-group">
          <label class="AccountInformation__label" for="user_password_confirmation">
            <span>確認用パスワード</span><br>
            <span class="AccountInformation__label--caption">※変更する場合のみ</span>
</label>
          <div class="AccountInformation__input-wrapper">
            <input class="AccountInformation__input" placeholder="変更後パスワードを入力" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
            
          </div>
        </div>

        <div class="mb-4 AccountInformation__input-group">
          <label class="AccountInformation__label" for="user_current_password">現在のパスワード</label>

          <div class="AccountInformation__input-wrapper">
            <input class="AccountInformation__input" placeholder="現在のパスワードを入力" type="password" name="user[current_password]" id="user_current_password" />
            
          </div>
        </div>

        <div class="AccountInformation__buttons">
          <a class="btn AccountInformation__button AccountInformation__button--secondary" href="/users/account">キャンセル</a>
          <input type="submit" name="commit" value="保存" class="btn AccountInformation__button AccountInformation__button--primary" data-disable-with="保存" />
        </div>
</form>    </div>
  </div>
</section>
