<h2>設定</h2>
    <ul class="SideNavigation">
    
        <h5 class ="setting-name" ><%= link_to "1.アカウント", "/users/show", style: "color: black;" %></h5>
        <h5 class ="setting-name" ><%= link_to "2.プロフィール", "/profile/show", style: "color: black;" %></h5>
    
    </ul>
<p class="AccountInformation__value">
     ----------------------------------------
</p>

