body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

header {
    display: block;
    
}

.name {
    color:#fff;
    background-color:#1c1d3b;
}

.Navbar__logo{
    width: 220px;
}

.Navbar {
    background-color: #1c1d3b;
    height: 150px;
}

.navbar>.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    padding: 0 32px;
}

.header-item{
    margin-left: auto;
}

.ddmenu{
    position: absolute;
    display: none;
    
}

.ddmenu.show{
    display: block;
}

ul{
    list-style-type: none;
}

a {
    color:red;
    text-decoration: none;
}





.Footer {
    align-items: center;
    background-color: #1c1d3b;
    display: flex;
    height: 465px;
    color:#fff;
    padding: 0 32px;
}

.Footer__logo{
    width: 220px;
}